<link rel= "stylesheet" href = "Styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    h2{
        font-family: Verdana;
        color: #803d23;
    }
    .review {
        width: 16%;
        background: #fff;
        text-align: left;
        box-shadow: 1px 1px 16px rgba(0, 1, 0, 1);
        padding: 15px;
    }

    .starRating i {
        left: 0;
        top: 0;
        height: 50%;
        width: 50%;
        background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
        background-size: contain;
    }
    .starRating {
        margin: 25px 0 0px;
        font-size: 0;
        white-space: nowrap;
        width: 50%;
        height: 35px;
        background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    }
    .starRating input:hover + i,
    .starRating input:checked + i {
        opacity: 1;
    }
    .starRating i ~ i {
        width: 40%;
    }
    .starRating i ~ i ~ i {
        width: 60%;
    }
    .starRating i ~ i ~ i ~ i {
        width: 80%;
    }
    .starRating i ~ i ~ i ~ i ~ i {
        width: 100%;
    }

</style>

<h1 style="text-align:center">Defter Profile Card</h1>

<div class="card">
    <img src="../img/<%= skill %>.jpg" alt="John" style="width:100%">
    <h1><%= fname %> <%= lname %></h1>
    <p class="title"><%= skill %></p>
    <p><%= address %></p>
    <p><%= phone %></p>
    <p><%= email %></p>


    <p><button>Contact</button></p>
</div>
<h2><%= fname %> <%= lname %>'s Star Review</h2>

<div class="review">
    <form method="post" action="#action-url">

<span class="starRating">
  <input type="radio" name="ratings" value="1"><i></i>
  <input type="radio" name="ratings" value="2"><i></i>
  <input type="radio" name="ratings" value="3"><i></i>
  <input type="radio" name="ratings" value="4"><i></i>
  <input type="radio" name="ratings" value="5"><i></i>
</span>

    </form>
</div>

<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>