<link rel= "stylesheet" href = "Styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    h2{
        font-family: Verdana;
        color: #803d23;
    }
    form {
        text-align: center;
        border-radius: 100px;
        background-color: #f2f2f2;
        padding: 50px;
        /*padding-right: 200px;*/
        /*padding-left: 200px;*/
    }
    body {
        font-family: 'Trebuchet MS', sans-serif;
    }
    p6{
        text-align: center;
    }
    h1{text-align: center}
    input1 {background-color: orange}
    input1 {color: whitesmoke}

    input [type=email]{
        border: none;
        background-color: transparent;
        resize: none;
        outline: none;
    }

</style>

<h1 style="text-align:center">Welcome <%= fname %>!</h1>

<div class="card">
    <img src="../img/<%= skill %>.jpg" style="width:100%">
    <h1><%= fname %> <%= lname %></h1>
    <p class="title"><%= skill %></p>
    <p><%= address %></p>
    <p><%= phone %></p>
    <p><%= email %></p>


<!--    <p><button>Contact</button></p>-->
</div>
<!--<h2><%= fname %> <%= lname %>'s Star Review</h2>-->


<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>